.back-button {
    position: absolute;
    left: 0;
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

.back-button:hover {
    opacity: 0.8;
}

.back-button>svg>path {
    fill: var(--light-green);
}