/* Barra de navegacao */

header ul,
footer ul {
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 0;
    list-style-type: none;
    /* margin: 0; */
    /* padding: 0; */
    margin: auto;
    overflow: hidden;
    /*background-color: var(--robin-egg-blues);*/
}

header ul li,
footer ul li {

    width: 270px;
}

header ul li a,
footer ul li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    line-height: 25px;
    background-color: #008554;
    border-style: solid;
    border-color: var(--grey);
    border-width: 1px 0.2px 1px 0.2px;
    transition: background-color 0.5s;
    font-family: Poppins;
}

header ul li a:hover:not(.active),
footer ul li a:hover:not(.active) {
    background-color: #111;
}

header ul li a.active,
footer ul li a.active {
    transition: background-color 0.5s;
    background-color: var(--light-green);
}

header ul li a.active:hover,
footer ul li a.active:hover {
    background-color: var(--dark-green);
}

header ul li div.dropdown-content, footer ul li div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: auto;
    max-height: 450px;
}

footer ul li div.dropdown-content{
    bottom: 93%;
    left: 50%;
}

header ul li div.dropdown-content a:hover, footer ul li div.dropdown-content a:hover {
    background-color: var(--white);
    color: var(--black);

}

header ul li.dropdown:hover div.dropdown-content, footer ul li.dropdown:hover div.dropdown-content {
    display: block;
}