.row {
    align-content: space-between;
}

.row .examples {
    color: var(--white);
    background-color: #202124;
    padding: 15px;
}

.row img {
    border-style: solid;
    border-color: #202124;
    border-radius: 20px;
    border-width: 20px;
    height: auto;
    width: 50%;
}